src/logicAppSrc/New-Request/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "listOfApprovers": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "content": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Initialize_variable_-_Generate_CorrelationId": [
                        "Succeeded"
                    ]
                }
            },
            "For_each_-_appover": {
                "type": "Foreach",
                "foreach": "@body('Parse_JSON')?['listOfApprovers']",
                "actions": {
                    "Send_message": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "servicebus"
                                }
                            },
                            "method": "post",
                            "body": {
                                "ContentData": "@{base64(outputs('Compose'))}",
                                "CorrelationId": "@variables('correlationId')"
                            },
                            "path": "/@{encodeURIComponent(encodeURIComponent('approval-queue'))}/messages",
                            "queries": {
                                "systemProperties": "None"
                            }
                        },
                        "runAfter": {
                            "Compose": [
                                "Succeeded"
                            ]
                        }
                    },
                    "Compose": {
                        "type": "Compose",
                        "inputs": {
                            "approverEmail": "@items('For_each_-_appover')",
                            "content": "@body('Parse_JSON')?['content']",
                            "correlationId": "@variables('correlationId')"
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Initialize_variable_-_Generate_CorrelationId": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "correlationId",
                            "type": "string",
                            "value": "@{guid()}"
                        }
                    ]
                },
                "runAfter": {}
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}